/* based on nord theme */
@import url(//fonts.googleapis.com/css?family=Inter);

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body.dark-theme {
  --background: #242933;
  --surface: #2e3440;
  --accent: #88c0d0;
  --text: #eceff4;
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
}

body.light-theme {
  --background: #e5e9f0;
  --surface: #d8dee9;
  --accent: #88c0d0;
  --text: #4c566a;
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
}
